.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 5s ease;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  0% { transform: rotate(0deg); width: 80px; margin-top:22px;}
  50% { transform: rotate(180deg); width: 120px; margin-top:8px;}
  100% { transform: rotate(360deg); width: 80px; margin-top:22px;}
}

@keyframes addNote {
    0% {margin-left: 1000px; margin-right: 0px;}
    90% {margin-left:0px; margin-right: 20px;}
    100% {margin-left:0px; margin-right: 0px;}
}

@keyframes addDecoration {
    0% {color:black; font-weight: 100; }
    100% {color: #cb1111; font-weight: bold;}
}

.decoration {
    color: #cb1111;
    animation: addDecoration linear;
    animation-duration: 0.5s;
}

.none {
    font-weight: 100;
    animation: addNote ease-in;
    animation-duration: 1s;
}

.noneReset {
    font-weight: 100;
}

.button {
    width: 150px;
    height: 50px;
    margin:10px;
}

.textArea {
    margin: 50px;
    resize: none;
}

.enterText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width:50%;
    margin-left:auto;
    margin-right:auto;
}

.submitButton {
    width:50%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right:auto;
}

.listCheck {
    height: 25px;
}